
@{
    ViewData["Title"] = "User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section stylesheet {
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/dropzone.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/line.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/choices.min.css")" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/theme.min.css")"
          type="text/css"
          rel="stylesheet"
          id="style-default" />
    <link rel="stylesheet"
          type="text/css"
          id="mce-u0"
          href="@Url.Content("~/Content/AdminResources/bonus/css/skin.min.css")" />

}
@section script {
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/all.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/lodash.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/list.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/dropzone.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/phoenix.js")"></script>
}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">Tài khoản</li>
                            <li class="breadcrumb-item">Người dùng</li>
                            <li class="breadcrumb-item">Danh sách người dùng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-9">
                <div class="row g-2 mb-4">
                    <div class="">
                        <h2 class="" style="margin-top: 20px; text-align: center;">Danh sách người dùng</h2>
                    </div>
                </div>

                <div id="products" data-list="{&quot;valueNames&quot;:[&quot;customer&quot;,&quot;email&quot;,&quot;total-orders&quot;,&quot;total-spent&quot;,&quot;city&quot;,&quot;last-seen&quot;,&quot;last-order&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
                    <div class="mb-4">
                        <div class="row g-3">
                            <div class="col-auto">
                                <div class="search-box">
                                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                        <input class="form-control search-input search" type="search" placeholder="Tìm người dùng" aria-label="Search">
                                        <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path></svg><!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                        <div class="table-responsive scrollbar mx-n1 px-1">
                            <table class="table table-sm fs--1 mb-0">
                                <thead>
                                    <tr>
                                        <th class="sort align-middle pe-5" scope="col" data-sort="customer" style="width:10%;">ID</th>
                                        <th class="sort align-middle pe-5" scope="col" data-sort="customer" style="width:10%;">Họ Tên</th>
                                        <th class="sort align-middle pe-5" scope="col" data-sort="customer" style="width:10%;">Tài Khoản</th>
                                        <th class="sort align-middle pe-5" scope="col" data-sort="email" style="width:20%;">Email</th>
                                        <th class="sort align-middle text-end" scope="col" data-sort="total-orders" style="width:10%">Số đơn</th>
                                        <th class="sort align-middle ps-7" scope="col" data-sort="city" style="width:20%;">Địa chỉ</th>
                                        <th class="sort align-middle text-end" scope="col" data-sort="total-orders" style="width:20%"></th>

                                    </tr>
                                </thead>
                                <tbody class="list" id="table-latest-review-body">
                                    @{
                                        List<ShopThuCungMVC.Models.UserAccount> users = ShopThuCungMVC.Services.AccountService.getListUser();
                                        foreach (var item in users)
                                        {

                                            List<ShopThuCungMVC.Models.Orders> orders = ShopThuCungMVC.Services.OrderService.getListOrderByIdUser(item.id);
                                            ShopThuCungMVC.Models.InforUser infor = ShopThuCungMVC.Services.AccountService.getInforUserById(item.id);

                                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                                <td class="fs--1 align-middle ps-0 py-3">

                                                    <p class="mb-0 text-1100 fw-bold">@item.id</p>
                                                </td>
                                                <td class="customer align-middle white-space-nowrap pe-5">
                                                    <a class="d-flex align-items-center" href="#!">
                                                        @{
                                                            if (infor.avt == null)
                                                            {
                                                                <div class="avatar avatar-m"><img class="rounded-circle" src="https://localhost:44322/Content/AdminResources/assets/images/user/user.png" alt=""></div>
                                                            }
                                                            else
                                                            {
                                                                <div class="avatar avatar-m"><img class="rounded-circle" src="@infor.avt" alt=""></div>

                                                            }
                                                        }
                                                        <p class="mb-0 ms-3 text-1100 fw-bold">@infor.name</p>
                                                    </a>
                                                </td>
                                                <td class="customer align-middle white-space-nowrap pe-5"><a class="d-flex align-items-center" href="#!">@item.user_name</td>
                                                <td class="email align-middle white-space-nowrap pe-5"><a class="fw-semi-bold text-1100" href="mailto: + @infor.email">@infor.email</a></td>
                                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">@orders.Count()</td>
                                                <td class="city align-middle white-space-nowrap text-900 ps-7">@infor.address</td>
                                                <td class="last-seen align-middle white-space-nowrap text-700 text-end">
                                                    @Html.ActionLink("Sửa", "AddUser", "User", new { @id = item.id }, new { @class = "btn btn-primary "})
                                                    @Html.ActionLink("Xóa", "Remove", "User", new { @id = item.id }, new { @class = "btn btn-primary ", @style = "background-color:crimson;" })
                                                </td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                            <div class="col-auto d-flex">
                                <!-- <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info">1 đến 10 <span class="text-600"> trong </span>15</p><a class="fw-semi-bold" href="#!" data-list-view="*">Xem tất cả<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;"><g transform="translate(128 256)"><g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)"><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" transform="translate(-128 -256)"></path></g></g></svg></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;"><g transform="translate(128 256)"><g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)"><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" transform="translate(-128 -256)"></path></g></g></svg></a> -->
                            </div>
                            <div class="col-auto d-flex">
                                <button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
                                <ul class="mb-0 pagination"><li class="active"><button class="page" type="button" data-i="1" data-page="10">1</button></li><li><button class="page" type="button" data-i="2" data-page="10">2</button></li></ul><button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

