
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section stylesheet {
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/css/style.css")" type="text/css">
}
<!-- Breadcrumb Section Begin -->
<!-- Breadcrumb Section End -->
<div class="content1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Đăng nhập</h3>
                            </div>
                            @using (Html.BeginForm("Login", "User"))
                            {
                                <form method="post">
                                    <div class="form-group first">
                                        <p> Tên đăng nhập</p>
                                        <input type="text" name="username" class="form-control" id="username" required>
                                    </div>
                                    <div class="form-group last mb-4">
                                        <p>Mật khẩu</p>
                                        <input type="password" name="password" class="form-control" id="password" required>
                                    </div>

                                    <div class="d-flex mb-5 align-items-center">
                                        <label class="control control--checkbox mb-0">
                                            <span class="caption">Nhớ mật khẩu</span>
                                            <input type="checkbox" name="remember" checked="checked" />
                                            <div class="control__indicator"></div>
                                        </label>
                                        <span class="ml-auto"><a href="@Url.Action("ForgotPassWord", "User")" class="forgot-pass">Quên mật khẩu</a></span>
                                    </div>
                                    <h4 style="text-align: center; font-size: 16px; color: red;">@ViewBag.Notify</h4>
                                    <h4 style="text-align: center; font-size: 16px; color: green;">@Session["registerSuccess"]</h4>
                                    <button type="submit" style="" class="btn btn-pill text-white btn-block btn-primary"> Đăng nhập</button>
                                    <span class="d-block text-center my-4 text-muted"> Đăng nhập với:</span>
                                    <div class="social-login text-center">
                                        <a href="#" class="facebook">
                                            <span><i class="fa-brands fa-facebook-f"></i></span>
                                        </a>
                                        <a href="#" class="twitter">
                                            <span><i class="fa-brands fa-twitter"></i></span>
                                        </a>
                                        <a href="#" class="google">
                                            <span> <i class="fa-brands fa-google"></i></span>
                                        </a>

                                        <span class="d-block text-center my-4 text-muted"><a href="@Url.Action("Register", "User")" style="width: 60px; color: #6c757d;">Đăng kí</a> </span>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

