@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section stylesheet {
    <link href="@Url.Content("~/Content/Login/vendor/datepicker/daterangepicker.css")" rel="stylesheet" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/css/main.css")" media="all">
    <style>
        .btn-primary{
            border:none;
            margin-top: 25px
        }
        .btn {
            font-size: 1rem;
            line-height: 1.5;
            padding: 0.375rem 0.75rem;
        }
    </style>
   
}
@section script {
    <!-- Vendor JS-->
    <script src="@Url.Content("~/Content/Login/vendor/datepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/vendor/datepicker/daterangepicker.js")"></script>

    <!-- Main JS-->
    <script src="@Url.Content("~/Content/Login/global.js")"></script>
}
<!-- Breadcrumb Section Begin -->
<!-- Breadcrumb Section End -->
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Đăng kí</h2>
                <div id="dynamic-form">
                    <form method="POST" id="form-register">
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Họ Tên</label>
                                    <input class="input--style-4" type="text" id="fullname" name="fullname">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Tên đăng nhập</label>
                                    <input class="input--style-4" type="text" id="user" name="user">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Giới tính</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">
                                            Nam
                                            <input type="radio" checked="checked" name="gender" value="1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container" style="margin-left:15px">
                                            Nữ
                                            <input type="radio" name="gender" value="0">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Mật khẩu</label>
                                    <input id="passwd" class="input--style-4" type="password" name="passwd">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Số điện thoại</label>
                                    <input class="input--style-4" type="text" id="phone" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Nhập Lại Mật khẩu</label>
                                    <input id="upassconfirm" class="input--style-4" type="password"
                                           data-id="confirmpassword" name="confirmpassword">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-t-15">
                                    <input class="btn btn-pill text-white btn-primary button_login" id="register" value="Đăng Ký" style="border-radius: 30px; width: 250px; margin-left:20px; cursor: pointer" readonly>
                                </div>
                            </div>
                        </div>
                        <span> <a href="@Url.Action("Login", "User")" style="text-decoration: none;color: #555;">Đăng nhập</a></span>
                    </form>
                    <form method="POST" id="form-code" style="display: none;">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Mã xác nhận</label>
                                    <input class="input--style-4" type="text" name="code" id="code" required style="width: 100px;">
                                </div>
                            </div>
                        </div>
                        <h4 id="errorCode" style="font-size:16px;color:red;text-align: center"></h4>
                        <div class="p-t-15">
                            <a> <div class="btn btn--radius-2 btn--blue" id="verify">Xác nhận</div></a>
                        </div> <br>
                        <span> <a href="@Url.Action("Login", "User")" style="text-decoration: none;color: #555;">Đăng nhập</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script>
    $("#register").click(function () {
        const fullname = $("#fullname").val();
        const gender = $("input[type='radio']:checked").val();
        const email = $("#email").val();
        const phone = $("#phone").val();
        const user = $("#user").val();
        const passwd = $("#passwd").val();
        console.log(fullname);
        console.log(gender);
        console.log(email);
        console.log(phone);
        console.log(user);
        console.log(passwd);
        if (fullname == null || gender == null || email == null || phone == null || user == null || passwd == null) {
            alert("Yêu cầu nhập đầy đủ thông tin");
        }
        else {
            $.ajax({
                url: "/User/Register",
                type: "post",
                data: {
                    name: fullname,
                    gender: gender,
                    email: email,
                    phone: phone,
                    username: user,
                    password: passwd
                },
                success: function (response) {
                    $("#error").text(response.status);
                    if (response.status == null) {
                        $("#form-register").remove();
                        $("#form-code").css("display", "block");
                    }
                }
            });

        }
    });
    $("#verify").click(function (e) {
        e.preventDefault();
        const code = $("#code").val();
        if (code.length < 1) {
            alert("Code không được bỏ trống");
        } else {
            $.ajax({
                url: "/User/Verify",
                type: "post",
                data: {
                    code: code
                },
                success: function (response) {
                    if (response.success) {
                        var redirectUrl = window.location.protocol + "//" + window.location.host + "/User/Login";
                        console.log(redirectUrl);
                        window.location.href = redirectUrl;
                    } else {
                        if (response.timeout) {
                            $("#error1").text("Mã code đã hết hạn !");
                        }
                        else {
                            $("#error1").text("Mã code sai !");
                        }
                    }
                }
            });
        }
    })
</script>
