@model List<ShopThuCungMVC.Models.Product>
@using System.Globalization;
@{
    ViewData["Title"] = "AllProduct";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<<<<<<< HEAD
@section script {
    <script src="@Url.Content("~/Content/js/list-products.js")"></script>
}
<script src="./assets/js/jquery-3.6.1.min.js"></script>
=======
>>>>>>> 93e37e9fd386e73b6fcb4f753603c8e5333b55bc
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="https://localhost:44322/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Sản Phẩm</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index","Home")">Trang chủ</a>
                        <span><strong>Cửa hàng</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh mục</h4>
                        <ul>
                            <li>
                                <label for="cat0" name="option1">
                                    <input type="radio" class="form-cate" id="cat0">
                                    Chó Alaska
                                </label>
                            </li>
                            <li><a href="#">Chó Beagle</a></li>
                            <li><a href="#">Chó Corgi</a></li>
                            <li><a href="#">Chó Golden Retriever</a></li>
                            <li><a href="#">Chó Husky</a></li>
                            <li><a href="#">Chó Phốc sóc</a></li>
                            <li><a href="#">Mèo Anh</a></li>
                            <li><a href="#">Mèo lông ngắn</a></li>
                            <li><a href="#">Mèo chân ngắn</a></li>
                            <li><a href="#">Mèo tai cụp</a></li>
                            <li><a href="#">Mèo tam thể</a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Khoảng giá</h4>

                        <ul id="khoanggia" class="product__filter-ckeckbox">
                            <li class="product__filter-item">
                                <label class="form-check-label" for="kg0">
                                    <input type="radio" class="form-check-input checkGia" id="kg0"
                                           name="optradio"
                                           value="-1"><span>Tất cả</span>
                                </label>
                            </li>
                            <bR>
                            <li class="product__filter-item">
                                <label class="form-check-label" for="kg1">
                                    <input type="radio" class="form-check-input checkGia" id="kg1" name="optradio"
                                           value="0-5000000"><span>Dưới 5,000,000đ</span>
                                </label>
                            </li>
                            <bR>
                            <li class="product__filter-item">
                                <label class="form-check-label" for="kg2">
                                    <input type="radio" class="form-check-input checkGia" id="kg2" name="optradio"
                                           value="5000000-10000000"><span> 5,000,000đ - 10,000,000đ</span>
                                </label>
                            </li>
                            <bR>
                            <li class="product__filter-item">
                                <label class="form-check-label" for="kg3">
                                    <input type="radio" class="form-check-input checkGia" id="kg3" name="optradio"
                                           value="10000000-15000000"><span>10,000,000đ - 15,000,000đ</span>
                                </label>
                            </li>
                            <bR>
                            <li class="product__filter-item">
                                <label class="form-check-label" for="kg4">
                                    <input type="radio" class="form-check-input checkGia" id="kg4" name="optradio"
                                           value="15000000-20000000"><span>15,000,000đ - 20,000,000đ</span>
                                </label>
                            </li>
                            <bR>
                            <li class="product__filter-item">
                                <label class="form-check-label" for="kg5">
                                    <input type="radio" class="form-check-input checkGia" id="kg5" name="optradio"
                                           value="20000000-100000000"><span>Trên 20,000,000đ</span>
                                </label>
                            </li>
                            <bR>
                        </ul>

<<<<<<< HEAD
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="5" data-max="100">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>

=======
                    </div>
>>>>>>> 93e37e9fd386e73b6fcb4f753603c8e5333b55bc
                    <div class="sidebar__item">
                        <h4>Kích Cỡ</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                5kg - 10kg
                                <input type="radio" id="large" value="5-100">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                3kg - 5kg
                                <input type="radio" id="medium" value="3-5">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                2kg-3kg
                                <input type="radio" id="small" value="2-3">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                dưới 2kg
                                <input type="radio" id="tiny" value="0-2">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sắp xếp</span>
                                <select>
                                    <option value="0">Mặc Định</option>
                                    <option value="1">Bán Chạy</option>
                                    <option value="2">Phổ Biến</option>
                                    <option value="3">Giá Tăng Dần</option>
                                    <option value="4">Giá Giảm Dần</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@Model.Count</span> Sản Phẩm</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="items">

                    @{
                        int end = 6;
                        if (Model.Count < 6)
                        {
                            end = Model.Count;
                        }
                    }
                    @for (var i = 0; i < end; i++)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@Model.ElementAt(i).Image">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#" class="btnAddToCart" data-id="@Model.ElementAt(i).productId"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@Html.ActionLink(@Model.ElementAt(i).ProductName, "ProductDetails", "Details", new { @Id = @Model.ElementAt(i).productId }, null)</h6>
                                    <h5>@Model.ElementAt(i).Price.ToString("N0") ₫</h5>
                                </div>
                            </div>
                        </div>
                    }
<<<<<<< HEAD

                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Phốc sóc mặt gấu</a></h6>-->
                    <!--                                    <h5>30.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-3.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Scottish Van tai cụp</a></h6>-->
                    <!--                                    <h5>22.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-4.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Munchkin Bicolor</a></h6>-->
                    <!--                                    <h5>15.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-5.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Mèo chân ngắn tai cụp</a></h6>-->
                    <!--                                    <h5>20.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-6.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Cún golden siêu phẩm</a></h6>-->
                    <!--                                    <h5>30.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-7.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Cún golden ú</a></h6>-->
                    <!--                                    <h5>20.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-8.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Mèo tai cụp</a></h6>-->
                    <!--                                    <h5>20.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-4 col-md-6 col-sm-6">-->
                    <!--                            <div class="product__item">-->
                    <!--                                <div class="product__item__pic set-bg" data-setbg="img/product/product-9.jpg">-->
                    <!--                                    <ul class="product__item__pic__hover">-->
                    <!--                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                    <!--                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--                                    </ul>-->
                    <!--                                </div>-->
                    <!--                                <div class="product__item__text">-->
                    <!--                                    <h6><a href="product-details.html">Mèo chân ngắn tai cụp</a></h6>-->
                    <!--                                    <h5>30.000.000đ</h5>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <div class="row row-product" id="products">
                        <!-- loadProduct o day -->
                    </div>
=======
>>>>>>> 93e37e9fd386e73b6fcb4f753603c8e5333b55bc
                </div>
                <div class="loadmore" id="loadMore" style="display: flex; justify-content: center; align-items: center;">
                    <a id="loadMoreA" style="cursor: pointer; color: #fff; border-radius: 20px;" class="loadmore-btn site-btn">Tải thêm <span class="arrow_carrot-down"></span></a>
                </div>
                <input type="text" id="cateId" value="@Request.Url.AbsoluteUri.Substring(Request.Url.AbsoluteUri.LastIndexOf('/') + 1)" style="display: none;" />
                <input type="text" id="page" value="1" style="display: none;" />
            </div>
        </div>
    </div>
    <script>
    function filter(e) {
        e.preventDefault();
        const price = $("input[type='radio']:checked.checkGia").val();
        $.ajax({
            type: 'post',
            url: "Controllers/DetailsControllers",
            data: {
                price: price,
                category: category
            },
            success: function (data) {
                $("#products").html(data);
            }
        });
    }
    </script>
</section>

<<<<<<< HEAD

<!-- Product Section End -->
    
=======
<!-- Product Section End -->
<script src="~/Scripts/jquery-3.6.1.js"></script>
<script>
    $(document).ready(function () {
        $('.product__item').on('click', '.btnAddToCart', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var quantity = 1;
            alert(id +", " + quantity);
            $.ajax({
                url: '/ProductBagController/AddToCart',
                type: 'POST', 
                data: { id: id, quantity: quantity },
                success: function (rs) {
                    if (rs.success) {
                        alert(rs.msg);
                    }
                }
            })
        })
    })
</script>
<script>
    $("#loadMoreA").on("click", function (e) {
        console.log("abc");
        e.preventDefault();
        let id = $("#cateId").val();
        if (id !== "AllProduct") {
            id = parseInt(id);
        }
        const page = parseInt($("#page").val());
        $.ajax({
            url: "/Home/LoadMoreProduct",
            data: {
                id: id,
                page: page
            },
            type: "get",
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var str = "";
                const formatter = new Intl.NumberFormat('vn-VN');
                $.each(result.data, function (index, value) {
                    str += `<div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="` + value.Image + `" style="background-image: url('` + value.Image + `');">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/Details/ProductDetails/` + value.productId + `">` + value.ProductName + `</a></h6>
                                    <h5>` + formatter.format(value.Price) + ` ₫</h5>
                                </div>
                            </div>
                        </div>`;
                });
                $("#items").append(str);
                $("#page").val(page + 1);
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        })
    })
</script>
>>>>>>> 93e37e9fd386e73b6fcb4f753603c8e5333b55bc
