@model List<ShopThuCungMVC.Models.Product>
@using System.Globalization;
@{
    ViewData["Title"] = "AllProduct";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@using ShopThuCungMVC.Models;
<!-- breadcrumb Section Begin -->

<section class="breadcrumb-section set-bg" data-setbg="https://localhost:44322/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Sản Phẩm</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span><strong>Cửa hàng</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item item1">
                        <h4>Danh mục</h4>
                        <ul>
                            @{
                                String id = Request.Url.AbsoluteUri.Substring(Request.Url.AbsoluteUri.LastIndexOf('/') + 1);
                                List<ProductCategory> list = ShopThuCungMVC.Services.ProductCateService.listProCateClassify(id);
                                foreach (var item in list)
                                {
                                     <li class="product__filter-item">
                                         <input type="radio" id="@item.CatId" name="age" class="checkcate" value="@item.CatId">
                                          <label class="form-check-label" for="@item.CatId">@item.CatName</label><br>
                                      </li>                                                 
                                    
                                }
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item item2">
                        <h4>Khoảng giá</h4>
                            <ul id="khoanggia" class="product__filter-ckeckbox">
                                <li class="product__filter-item">
                                    <label class="form-check-label" for="kg0">
                                        <input type="radio" class="form-check-input checkGia" id="kg0"
                                               name="group2"
                                               value="-1"><span>Tất cả</span>
                                    </label>
                                </li>
                                <br>
                                <li class="product__filter-item">
                                    <label class="form-check-label" for="kg1">
                                        <input type="radio" class="form-check-input checkGia" id="kg1" name="group2"
                                               value="0-5000000"><span>Dưới 5,000,000đ</span>
                                    </label>
                                </li>
                                <br>
                                <li class="product__filter-item">
                                    <label class="form-check-label" for="kg2">
                                        <input type="radio" class="form-check-input checkGia" id="kg2" name="group2"
                                               value="5000000-10000000"><span> 5,000,000đ - 10,000,000đ</span>
                                    </label>
                                </li>
                                <br>
                                <li class="product__filter-item">
                                    <label class="form-check-label" for="kg3">
                                        <input type="radio" class="form-check-input checkGia" id="kg3" name="group2"
                                               value="10000000-15000000"><span>10,000,000đ - 15,000,000đ</span>
                                    </label>
                                </li>
                                <br>
                                <li class="product__filter-item">
                                    <label class="form-check-label" for="kg4">
                                        <input type="radio" class="form-check-input checkGia" id="kg4" name="group2"
                                               value="15000000-20000000"><span>15,000,000đ - 20,000,000đ</span>
                                    </label>
                                </li>
                                <br>
                                <li class="product__filter-item">
                                    <label class="form-check-label" for="kg5">
                                        <input type="radio" class="form-check-input checkGia" id="kg5" name="group2"
                                               value="20000000-100000000"><span>Trên 20,000,000đ</span>
                                    </label>
                                </li>
                                <br>
                            </ul>
                    </div>
                    <div class="sidebar__item item3">
                        <h4>Kích Cỡ</h4>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    Trên 10kg
                                    <input name="group3" type="radio" class="checkSize" id="large" value="10-100">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    5kg - 10kg
                                    <input name="group3" type="radio" class="checkSize" id="large" value="5-10">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="medium">
                                    3kg - 5kg
                                    <input name="group3" type="radio" class="checkSize" id="medium" value="3-5">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="small">
                                    2kg-3kg
                                    <input name="group3" type="radio" class="checkSize" id="small" value="2-3">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="tiny">
                                    dưới 2kg
                                    <input name="group3" type="radio" class="checkSize" id="tiny" value="0-2">
                                </label>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sắp xếp</span>
                                <select id="dropdownSelect">
                                    <option selected value="0">Mặc Định</option>
                                    <option value="1">A - Z</option>
                                    <option value="2">Z - A</option>
                                    <option value="3">Giá Tăng Dần</option>
                                    <option value="4">Giá Giảm Dần</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@Model.Count</span> Sản Phẩm</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="sortby2 hidden" style="float: right;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="items">

                    @{
                        int end = 6;
                        if (Model.Count < 6)
                        {
                            end = Model.Count;
                        }
                    }
                    @for (var i = 0; i < end; i++)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@Model.ElementAt(i).Image">
                                    <ul class="product__item__pic__hover"  style="cursor:pointer">
                                        @if (Session["user"] == null)
                                        {
                                            <li><a href="@Url.Action("Login", "User")"><i class="fa fa-shopping-cart" style="cursor:pointer"></i></a></li>
                                        }
                                        else
                                        {
                                            <li><a class="btnAddToCart" data-id="@Model.ElementAt(i).productId"><i class="fa fa-shopping-cart"></i></a></li>
                                        }
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@Html.ActionLink(@Model.ElementAt(i).ProductName, "ProductDetails", "Details", new { @Id = @Model.ElementAt(i).productId }, null)</h6>
                                    <h5>@Model.ElementAt(i).Price.ToString("N0") ₫</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="loadmore" id="loadMore" style="display: flex; justify-content: center; align-items: center;">
                    <a id="loadMoreA" style="cursor: pointer; color: #fff; border-radius: 20px;" class="loadmore-btn site-btn">Tải thêm <span class="arrow_carrot-down"></span></a>
                </div>
                <input type="text" id="cateId" value="@Request.Url.AbsoluteUri.Substring(Request.Url.AbsoluteUri.LastIndexOf('/') + 1)" style="display: none;" />
                <input type="text" id="page" value="1" style="display: none;" />
            </div>
        </div>
    </div>
</section>

<!-- Product Section End -->
<script src="~/Scripts/jquery-3.6.1.js"></script>
<script>
    function addtoCart() {
        $('.product__item').on('click', '.btnAddToCart', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var quantity = 1;
            $.ajax({
                url: '/ProductBag/AddToCart',
                type: 'POST',
                data: { id: id, quantity: quantity },
                success: function (rs) {
                    const formatter = new Intl.NumberFormat('vn-VN');
                    $(".header__cart ul li a span").text(rs.quantity)
                    $(".header__cart__price span").text(formatter.format(rs.total) + "₫")
                }
            })
        })
    }
    $(document).ready(function () {
        addtoCart();
    })
</script>
<script>
    $("#loadMoreA").on("click", function (e) {
        e.preventDefault();
        let id = $("#cateId").val();
        const price = $("input[type='radio']:checked.checkGia").val();
        const size = $("input[type='radio']:checked.checkSize").val();
        const orderby = $("#dropdownSelect option:selected").val();
        const listcate = $("input[type='radio']:checked.checkcate").val();
        if (listcate != null) {
            id = listcate
        }
        const page = parseInt($("#page").val());
        console.log(id);
        console.log(price);
        console.log(size);
        console.log(orderby);
        $.ajax({
            url: "/Home/LoadMoreProduct",
            data: {
                id: id,
                page: page,
                price: price,
                size: size,
                orderby: orderby
            },
            type: "get",
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var str = "";
                const formatter = new Intl.NumberFormat('vn-VN');
                $.each(result.data, function (index, value) {
                    str += `<div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="` + value.Image + `" style="background-image: url('` + value.Image + `');">
                                    <ul class="product__item__pic__hover">
                                        <li><a class="btnAddToCart" data-id="`+ value.productId +`"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/Details/ProductDetails/` + value.productId + `">` + value.ProductName + `</a></h6>
                                    <h5>` + formatter.format(value.Price) + ` ₫</h5>
                                </div>
                            </div>
                        </div>`;
                });
                $("#items").append(str);
                $("#page").val(page + 1);
                addtoCart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("input[type='radio'].checkGia").each(function () {
            this.addEventListener("click", function (e) {
                filter(e);
            })
        })
        $("input[type='radio'].checkSize").each(function () {
            this.addEventListener("click", function (e) {
                filter(e);
            })
        })
        $("input[type='radio'].checkcate").each(function () {
            this.addEventListener("click", function (e) {
                filter(e);
            })
        })
        $("#dropdownSelect").change(function (e) {
            filter(e);
        })
    })
    function filter(e) {
        e.preventDefault();
        let category = $("#cateId").val();
        const price = $("input[type='radio']:checked.checkGia").val();
        const size = $("input[type='radio']:checked.checkSize").val();
        const orderby = $("#dropdownSelect option:selected").val();
        const listcate = $("input[type='radio']:checked.checkcate").val();
        if (listcate != null) {
            category = listcate
        }
        console.log(category);
        console.log(price);
        console.log(size);
        console.log(orderby);
        $.ajax({
            type: 'get',
            url: "/Home/Filter",
            data: {
                price: price,
                category: category,
                size: size,
                orderby: orderby
            },
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var str = "";
                const formatter = new Intl.NumberFormat('vn-VN');
                var i = 0;
                $.each(result.data, function (index, value) {
                    if (i < 6) {
                        str += `<div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="` + value.Image + `" style="background-image: url('` + value.Image + `');">
                                    <ul class="product__item__pic__hover">
                                        <li><a class="btnAddToCart" data-id="`+ value.productId + `"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/Details/ProductDetails/` + value.productId + `">` + value.ProductName + `</a></h6>
                                    <h5>` + formatter.format(value.Price) + ` ₫</h5>
                                </div>
                            </div>
                        </div>`;
                        i++;
                    }
                });
                $("#items").html(str);
                $(".filter__found h6 span").text(result.count);
                addtoCart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }
</script>
