
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="https://localhost:44322/Content/img/breadcrumb.jpg" style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Tin tức</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span><strong>Tin tức</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                   
                    <div class="blog__sidebar__item">
                        <h4>Tin mới nhất</h4>
                        <div class="blog__sidebar__recent">
                            @{
                                List<ShopThuCungMVC.Models.Blog> listB = ShopThuCungMVC.Services.BlogsService.get3BlogNew();
                                foreach (var item in listB)
                                {
                                    <div class="blog__sidebar__recent__item">
                                            <img src="@item.Image" alt="">
                                            <h5>@Html.ActionLink(item.BlogName, "BlogDetails", "Details", new { @Id = item.BlogId }, null)</h5>
                                            <span>@item.CreateDate</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    @{
                        List<ShopThuCungMVC.Models.Blog> list = ShopThuCungMVC.Services.BlogsService.listBlog();
                        foreach (var item in list)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic">
                                        <img src="@item.Image" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li><i class="fa fa-calendar-o"></i> @item.CreateDate</li>

                                        </ul>
                                        <h5>@Html.ActionLink(item.BlogName, "BlogDetails", "Details", new { @Id = item.BlogId }, null)</h5>
                                        <p>@item.Desription</p>
                                        
                                        @*<a href="blog-details.html" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>*@
                                    </div>
                                </div>
                            </div>

                           
                        }
                    }
                    

                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

