
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard sale</h5>
                        </div> -->
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">Quản lý sản phẩm</li>
                            <li class="breadcrumb-item">Tình trạng đơn hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-text">Tìm kiếm đơn hàng</span>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="nav-week1" role="tabpanel" aria-labelledby="nav-week1-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th data-toggle="tooltip">Mã đơn hàng</th>
                                        <th data-toggle="tooltip">Người mua</th>
                                        <th>Tổng tiền</th>
                                        <th>Tình trạng</th>
                                        <th>Ngày mua</th>
                                        <th>Ngày giao</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<ShopThuCungMVC.Models.Orders> listOrder = ShopThuCungMVC.Services.OrderService.getListOrder();
                                        foreach (var item in listOrder)
                                        {
                                            ShopThuCungMVC.Models.OrderDetail orderDetail = ShopThuCungMVC.Services.OrderService.getOrderDetailById(item.OrderID);
                                            ShopThuCungMVC.Models.InforUser inforU = ShopThuCungMVC.Services.AccountService.getInforUserById(item.CustomerID);

                                            <tr>
                                                <td scope="row">@item.OrderID</td>
                                                <td>@inforU.name</td>
                                                <td>@orderDetail.Price</td>
                                                <td>
                                                    @{
                                                        if (item.Delivered == 0)
                                                        {
                                                            <a href="" style="font-weight: bold;">
                                                                Đang vận chuyển
                                                                <i class="material-icons-two-tone" data-feather="loader"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="" style="font-weight: bold;">
                                                                Hoàn thành
                                                                <i class="material-icons-two-tone" data-feather="check"></i>
                                                            </a>
                                                        }
                                                    }

                                                </td>
                                                <td>@item.OrderDate</td>
                                                <td>
                                                    @{
                                                        if (item.Delivered == 0)
                                                        {
                                                            <h7>Chưa giao hàng</h7>
                                                        }
                                                        else
                                                        {
                                                            @item.DeliveryDate
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
