
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section script {
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/lodash.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/dropzone.min.js")"></script>
    <script src="@Url.Content("~/Content/AdminResources/bonus/js/phoenix.js")"></script>
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script>
        var ckEditor = CKEDITOR.replace('desc', { customFig: '/ckeditor/config.js', });
    </script>
}
@section stylesheet {
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/dropzone.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/line.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/choices.min.css")" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link href="@Url.Content("~/Content/AdminResources/bonus/css/theme.min.css")"
          type="text/css"
          rel="stylesheet"
          id="style-default" />
    <link rel="stylesheet"
          type="text/css"
          id="mce-u0"
          href="@Url.Content("~/Content/AdminResources/bonus/css/skin.min.css")" />
}

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">Quản lý tin tức</li>
                            <li class="breadcrumb-item">Tin tức</li>
                            <li class="breadcrumb-item">Thêm tin tức</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <main class="main" id="top">
                <div class="">
                    <div class="col-auto">
                        <h2 class="" style="text-align: center; margin: 10px 0px 20px;">Thêm tin tức mới</h2>
                        <h5 class="text-900 fw-semi-bold" style="text-align: center;">
                        </h5>
                    </div>
                </div>
                <h4 class="mb-3">Tên bài viết</h4>
                <div class="row g-5">
                    <div class="">
                        <input class="form-control mb-5"
                               type="text"
                               placeholder="Viết tên tin tức tại đây..." />
                        <h4 class="mb-3">Hình ảnh minh họa</h4>
                        <div class="dropzone dropzone-multiple p-0 mb-5 dz-clickable"
                             id="my-awesome-dropzone"
                             data-dropzone="data-dropzone">
                            <div class="dz-preview d-flex flex-wrap"></div>
                            <div class="dz-message text-600"
                                 data-dz-message="data-dz-message">
                                Kéo hình ảnh vào đây <span class="text-800">hoặc </span><button class="btn btn-link p-0" type="button">
                                    Tìm trong thiết bị
                                </button><br /><img class="mt-3 me-2"
                                                    src="~/Content/AdminResources/assets/img/icons/image-icon.png"
                                                    width="40"
                                                    alt="" />
                            </div>
                        </div>
                        <div class="mb-6">
                            <h4 class="mb-3">Chi tiết tin tức</h4>
                            <input type="text" id="desc" placeholder="Nhập thông tin sản phẩm" />
                        </div>
                        <button type="submit" class="btn  btn-primary" style="margin-bottom: 50px;margin-right: 20px;float: right; padding:10px 40px 10px 40px; font-size: large;">Thêm tin tức</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
