
@{
    ViewData["Title"] = "ForgotPassWord";
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
	<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="DashboardKit ">


	<!-- Favicon icon -->
	<link rel="icon" href="~/AdminResources/assets/images/favicon.svg" type="image/x-icon">

	<!-- font css -->
	<link rel="stylesheet" href="@Url.Content("~/Content/AdminResources/assets/fonts/feather.css")">
	<link rel="stylesheet" href="@Url.Content("~/Content/AdminResources/assets/fonts/fontawesome.css")">
	<link rel="stylesheet" href="@Url.Content("~/Content/AdminResources/assets/fonts/material.css")">

	<!-- vendor css -->
	<link rel="stylesheet" href="@Url.Content("~/Content/AdminResources/assets/css/style.css")" id="main-style-link">
	</head>
	<body>
	<!-- [ auth-forgot ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body" id="sendcode">
                            <h4 class="mb-3 f-w-400">Quên mật khẩu Admin</h4>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="mail"></i></span>
                                <input type="email" class="form-control" placeholder="Nhập Email" id="email">
                            </div>
                            <h4 id="errormail" style="text-align: center; color:red;font-size: 16px;"></h4>
                            <button class="btn btn-primary btn-block mb-4" id="comfirm">Gửi mã xác nhận qua mail</button>
                            <p class="mb-2"><a href="@Url.Action("Login","Auth")" class="f-w-400">Đăng nhập</a></p>
                        </div>
                        <div class="card-body" id="verifycode" style="display: none;">
                            <h4 class="mb-3 f-w-400">Nhập mã</h4>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="code"></i></span>
                                <input type="text" class="form-control" placeholder="Nhập mã" id="code">
                            </div>
                            <h4 id="errorcode" style="text-align: center; color:red;font-size: 16px;"></h4>
                            <button class="btn btn-primary btn-block mb-4" id="verify">Xác nhận</button>
                            <p class="mb-2"><a href="@Url.Action("Login","Auth")" class="f-w-400">Đăng nhập</a></p>
                        </div>
                        <div class="card-body" id="changepass" style="display: none;">
                            <h4 class="mb-3 f-w-400">Nhập mật khẩu mới</h4>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="text"></i></span>
                                <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" id="pass">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="text"></i></span>
                                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" id="repass">
                            </div>
							<h4 id="errorpass" style="text-align: center; color:red;font-size: 16px;"></h4>
                            <button class="btn btn-primary btn-block mb-4" id="comfirmpass">Xác nhận đổi mật khẩu</button>
                            <p class="mb-2"><a href="@Url.Action("Login","Auth")" class="f-w-400">Đăng nhập</a></p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-forgot ] end -->
	<!-- Required Js -->
	<script src="@Url.Content("~/Content/AdminResources/assets/js/vendor-all.min.js")"></script>
	<script src="@Url.Content("~/Content/AdminResources/assets/js/plugins/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Content/AdminResources/assets/js/plugins/feather.min.js")"></script>
	<script src="@Url.Content("~/Content/AdminResources/assets/js/pcoded.min.js")"></script>
	<script>
        $("#comfirm").click(function () {
            const email = $("#email").val();
            if (email.length < 1) {
                $("#errormail").text("Yêu cầu nhập email")
            } else {
                $.ajax({
                    url: "ForgotPassWord",
                    type: "post",
                    data: {
                        email:email
                    },
                    success: function (response) {
                        if (response.check) {
                            $("#sendcode").remove();
                            $("#verifycode").css("display", "block");
                        } else {
                            $("#errormail").text(response.status)
                        }
                    }
                })
            }
        })
        $("#verify").click(function () {
            const code = $("#code").val();
            if (code.length < 1) {
                $("#errorcode").text("Yêu cầu nhập code")
            } else {
                $.ajax({
                    url: "VerifyCode",
                    type: "post",
                    data: {
                        code: code
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#verifycode").remove();
                            $("#changepass").css("display", "block");
                        } else {
                            if (response.timeout)
                                $("#errorcode").text("Code đã hết hạn !")
                            else
                                $("#errorcode").text("Mã code không đúng !")
                        }
                    }
                })
            }
        })
        $("#comfirmpass").click(function () {
            const pass = $("#pass").val();
            const repass = $("#repass").val();
            if (pass.length < 1 || repass.length < 1) {
                $("#errorpass").text("Yêu cầu nhập đầy đủ các trường !")
            } else {
                if (pass !== repass) {
                    $("#errorpass").text("Mật khẩu và mật khẩu nhập lại không giống nhau !")
                } else {
                    $.ajax({
                        url: "ChangePassWord",
                        type: "post",
                        data: {
                            pass: pass
                        },
                        success: function (response) {
                            var redirectUrl = window.location.protocol + "//" + window.location.host + "/Admin/Auth/Login";
                            console.log(redirectUrl);
                            window.location.href = redirectUrl;
                        },
                        error: function () {
                            alert("Lỗi");
                        }
                    })
                }
            }
        })
	</script>
	</body>
</html>